afiautoamazdihack2025.json
{"nodes":[{"parameters":{"functionCode":"return [{ json: { link: `https://www.amazon.com/dp/B08N5WRWNW?tag=diegoredgard0f-20` } }];"},"name":"Generate Amazon Link","type":"n8n-nodes-base.function","typeVersion":1,"position":[300,200]},{"parameters":{"functionCode":"return items.map(item => { return { json: { message: `\\u2728 Oferta Exclusiva Amazon \\u2728\\n\\nTransforma tu vida con este producto que cambiar\\u00e1 tu rutina. Solo por hoy, con acceso prioritario mundial.\\n\\nAct\\u00faa ahora: ${item.json.link}\\n\\n\\u2728 Si est\\u00e1s leyendo esto, es porque est\\u00e1s listo para el cambio que siempre has querido.\\n\\nCierra los ojos un momento, imagina ya teniendo esto en tus manos, sintiendo la emoci\\u00f3n, el placer de haber tomado la decisi\\u00f3n correcta.\\n\\nNo esperes m\\u00e1s. Haz clic ahora y siente el poder de actuar.\\n\\n#Amazon #Oferta #VidaNueva #CompraHoy #ExitoPersonal` } }; });"},"name":"Generate Persuasive Message","type":"n8n-nodes-base.function","typeVersion":1,"position":[600,200]},{"parameters":{"authentication":"headerAuth","url":"https://social-media-posting.p.rapidapi.com/post","options":{},"headerParametersUi":{"parameter":[{"name":"X-RapidAPI-Key","value":"YOUR_RAPIDAPI_KEY"},{"name":"X-RapidAPI-Host","value":"social-media-posting.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"bodyParametersUi":{"parameter":[{"name":"text","value":"={{$json[\"message\"]}}"},{"name":"networks","value":"[\\\"twitter\\\", \\\"facebook\\\", \\\"instagram\\\", \\\"linkedin\\\"]"}]}},"name":"Post to Social Media via RapidAPI","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[900,200]}],"connections":{"Generate Amazon Link":{"main":[[{"node":"Generate Persuasive Message","type":"main","index":0}]]},"Generate Persuasive Message":{"main":[[{"node":"Post to Social Media via RapidAPI","type":"main","index":0}]]}}}