atechany_super_flow_extended.json
{
  "name": "ATECHANY SUPER FLOW EXTENDED - PRO (n8n)",
  "nodes": [
    {
      "parameters": {
        "sheetId": "1VTZ3HNNndZgl7SKuZmgV6iHCDatjSdHNTzXFClgZKQ4",
        "range": "Ecosistema Global!A2:F",
        "rawData": false
      },
      "name": "Google Sheets - Leer Productos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [100, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "REEMPLAZA_TU_ID", "name": "Google Sheets OAuth2 API" } }
    },
    {
      "parameters": {
        "functionCode": "// Validaci贸n y normalizaci贸n de campos obligatorios\nconst required = [\"Producto\", \"LinkAmazon\", \"Descripci贸n\", \"Imagen\"];\nfor (const r of required) {\n  if (!$json[r]) {\n    throw new Error(`Falta el campo obligatorio: ${r}`);\n  }\n}\nreturn items;"
      },
      "name": "Validar y Normalizar",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [320, 300]
    },
    {
      "parameters": {
        "functionCode": "// Validaci贸n avanzada de enlaces Amazon (multipa铆s)\nconst link = $json[\"LinkAmazon\"];\nif (!/^https?:\\/\\/(www\\.)?amazon\\.[a-z.]{2,6}\\//i.test(link)) {\n  throw new Error('El enlace NO es v谩lido de Amazon');\n}\nreturn items;"
      },
      "name": "Validar Amazon Link",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [520, 300]
    },
    {
      "parameters": {
        "application": "appATECHANY",
        "table": "tblAfiliados",
        "operation": "list",
        "options": {
          "filterByFormula": "AND(LOWER({Producto}) = LOWER('{{$json[\"Producto\"]}}'), LOWER({LinkAmazon}) = LOWER('{{$json[\"LinkAmazon\"]}}'))",
          "maxRecords": 1
        }
      },
      "name": "Buscar Duplicados",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [720, 300],
      "credentials": { "airtableApi": { "id": "REEMPLAZA_AIRTABLE_ID", "name": "Airtable API" } }
    },
    {
      "parameters": {
        "functionCode": "// Si ya existe, no seguir\nif (items[0].json.records && items[0].json.records.length > 0) {\n  return [];\n}\nreturn items;"
      },
      "name": "Filtro No Duplicados",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [920, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "prompt": "Redacta un texto persuasivo, emocional, breve (m谩x 350 caracteres, incluye emojis y llamada a la acci贸n) sobre el producto \"{{$json[\"Producto\"]}}\". Usa un tono entusiasta, creativo, y orientado a conversi贸n para Amazon. Incluye una frase que invite a descubrir m谩s en el enlace."
      },
      "name": "OpenAI - Copy Persuasivo",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [1100, 220],
      "credentials": { "openAIApi": { "id": "REEMPLAZA_OPENAI_ID", "name": "OpenAI API" } }
    },
    {
      "parameters": {
        "functionCode": "// Construir link afiliado/UTM seguro\nconst url = $json[\"LinkAmazon\"];\nlet glue = url.includes('?') ? '&' : '?';\nconst tag = 'diegoedgard0f-20';\nconst utm = 'utm_source=atechany&utm_medium=automation&utm_campaign=autoaff';\nreturn [{json: {...$json, LinkAfiliado: `${url}${glue}tag=${tag}&${utm}` }}];"
      },
      "name": "Preparar Link Afiliado",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1100, 380]
    },
    {
      "parameters": {
        "application": "appATECHANY",
        "table": "tblAfiliados",
        "operation": "create",
        "fields": {
          "Producto": "={{$json[\"Producto\"]}}",
          "LinkAmazon": "={{$json[\"LinkAfiliado\"]}}",
          "Descripci贸n": "={{$json[\"Descripci贸n\"]}}",
          "Descripci贸nIA": "={{$node[\"OpenAI - Copy Persuasivo\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
          "FechaCreacion": "={{$now}}",
          "Estado": "Publicado",
          "Imagen": "={{$json[\"Imagen\"]}}"
        }
      },
      "name": "Crear en Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [1300, 300],
      "credentials": { "airtableApi": { "id": "REEMPLAZA_AIRTABLE_ID", "name": "Airtable API" } }
    },
    {
      "parameters": {
        "board": "tech_board",
        "note": "{{$node[\"OpenAI - Copy Persuasivo\"].json[\"choices\"][0][\"message\"][\"content\"]}} Desc煤brelo aqu铆  {{$json[\"LinkAfiliado\"]}}",
        "link": "={{$json[\"LinkAfiliado\"]}}",
        "imageUrl": "={{$json[\"Imagen\"]}}"
      },
      "name": "Pinterest - Crear Pin",
      "type": "n8n-nodes-base.pinterest",
      "typeVersion": 1,
      "position": [1500, 200],
      "credentials": { "pinterestOAuth2Api": { "id": "REEMPLAZA_PINTEREST_ID", "name": "Pinterest OAuth2 API" } }
    },
    {
      "parameters": {
        "subreddit": "AmazonFinds",
        "title": "Descubre {{$json[\"Producto\"]}} en Amazon ",
        "text": "{{$node[\"OpenAI - Copy Persuasivo\"].json[\"choices\"][0][\"message\"][\"content\"]}}\n\nCompra aqu铆: {{$json[\"LinkAfiliado\"]}}"
      },
      "name": "Reddit - Publicar Post",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [1500, 400],
      "credentials": { "redditOAuth2Api": { "id": "REEMPLAZA_REDDIT_ID", "name": "Reddit OAuth2 API" } }
    },
    {
      "parameters": {
        "functionCode": "// Logging de 茅xito\ndate = new Date().toISOString();\nconsole.log(`[${date}] Producto publicado en todas las plataformas:`, $json[\"Producto\"]);\nreturn items;"
      },
      "name": "Log xito",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "functionCode": "// Logging y notificaci贸n de errores\ndate = new Date().toISOString();\nconsole.error(`[${date}] Error en flujo:`, $json.message || $json);\nreturn items;"
      },
      "name": "Log Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Google Sheets - Leer Productos": {
      "main": [
        [{ "node": "Validar y Normalizar", "type": "main", "index": 0 }]
      ]
    },
    "Validar y Normalizar": {
      "main": [
        [{ "node": "Validar Amazon Link", "type": "main", "index": 0 }]
      ]
    },
    "Validar Amazon Link": {
      "main": [
        [{ "node": "Buscar Duplicados", "type": "main", "index": 0 }]
      ],
      "error": [
        [{ "node": "Log Error", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Duplicados": {
      "main": [
        [{ "node": "Filtro No Duplicados", "type": "main", "index": 0 }]
      ]
    },
    "Filtro No Duplicados": {
      "main": [
        [
          { "node": "OpenAI - Copy Persuasivo", "type": "main", "index": 0 },
          { "node": "Preparar Link Afiliado", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI - Copy Persuasivo": {
      "main": [
        [{ "node": "Crear en Airtable", "type": "main", "index": 0 }]
      ],
      "error": [
        [{ "node": "Log Error", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Link Afiliado": {
      "main": [
        [{ "node": "Crear en Airtable", "type": "main", "index": 0 }]
      ]
    },
    "Crear en Airtable": {
      "main": [
        [
          { "node": "Pinterest - Crear Pin", "type": "main", "index": 0 },
          { "node": "Reddit - Publicar Post", "type": "main", "index": 0 },
          { "node": "Log xito", "type": "main", "index": 0 }
        ]
      ],
      "error": [
        [{ "node": "Log Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "atechany-super-flow-extended-pro"
}
