dihackredesociales.json
{
  "name": "redesociales",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "cd7aea74-4b28-406a-b4fd-045090fda14e",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -2620,
        60
      ],
      "webhookId": "FAKE-WEBHOOK-ID-CHAT-TRIGGER-REPLACE-ME",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## LLM",
        "height": 240,
        "color": 7
      },
      "id": "17681357-700c-4408-a9f3-bf5cb0bea2f6",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2700,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Chat Memory",
        "height": 240,
        "color": 7
      },
      "id": "eca21910-0ca4-49c2-8656-daced5124242",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2700,
        680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 👍Start Here",
        "height": 280,
        "width": 300,
        "color": 4
      },
      "id": "0747429b-078a-45da-91cd-83de2f879590",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2720,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Social Media Publishing Router",
        "height": 420,
        "width": 340,
        "color": 2
      },
      "id": "4eda8748-dafe-4586-affd-b2be2d392efa",
      "name": "Sticky Note32",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 1️⃣ X - Twitter",
        "height": 240,
        "color": 6
      },
      "id": "0946251f-5c18-4bc7-970a-318295398ea7",
      "name": "Sticky Note33",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2400,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "create_x_twitter_posts_tool",
        "description": "Use this tool to create XTwitter posts",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "fields": {
          "values": [
            {
              "name": "route",
              "stringValue": "=xtwitter"
            },
            {
              "name": "user_prompt",
              "stringValue": "={{ $(&apos;When chat message received&apos;).item.json.chatInput }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "e112d316-167a-4fd1-a89e-4f435efd1a53",
      "name": "X-Twiter",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -2320,
        600
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## 2️⃣ Instagram",
        "height": 240,
        "color": 6
      },
      "id": "6f9649fe-b58f-4ca8-8d78-84e1f3cf7ba1",
      "name": "Sticky Note34",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2140,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "create_instagram_posts_tool",
        "description": "Use this tool to create Instagram posts",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "fields": {
          "values": [
            {
              "name": "route",
              "stringValue": "=instagram"
            },
            {
              "name": "user_prompt",
              "stringValue": "={{ $(&apos;When chat message received&apos;).item.json.chatInput }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "1a398550-316d-4c13-baf1-f6988c5857c1",
      "name": "Instagram",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -2060,
        600
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "c0ef6046-22d1-4985-b493-8e86498758e9",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -2620,
        780
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## 3️⃣ Facebook",
        "height": 240,
        "color": 6
      },
      "id": "7bb9fd46-b9da-4b9f-89c5-febec508047f",
      "name": "Sticky Note35",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1880,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4️⃣ LinkedIn",
        "height": 240,
        "color": 6
      },
      "id": "ef2824a5-4602-4aa5-968c-054fe8904f5c",
      "name": "Sticky Note36",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1620,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "create_facebook_posts_tool",
        "description": "Use this tool to create Facebook posts",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "fields": {
          "values": [
            {
              "name": "route",
              "stringValue": "=facebook"
            },
            {
              "name": "user_prompt",
              "stringValue": "={{ $(&apos;When chat message received&apos;).item.json.chatInput }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "1a4a57a3-6d60-4372-8fde-03e95dc0fb60",
      "name": "Facebook",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -1800,
        600
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "create_linkedin_posts_tool",
        "description": "Use this tool to create LinkedIn posts",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "fields": {
          "values": [
            {
              "name": "route",
              "stringValue": "=linkedin"
            },
            {
              "name": "user_prompt",
              "stringValue": "={{ $(&apos;When chat message received&apos;).item.json.chatInput }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "23351624-b2c4-4705-83b9-4c1a0c424331",
      "name": "LinkedIn",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -1540,
        600
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## 5️⃣Threads",
        "height": 240,
        "color": 6
      },
      "id": "f4722b48-2fbc-42d5-8e49-cb300e2426d7",
      "name": "Sticky Note37",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2140,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 6️⃣YouTube Shorts",
        "height": 240,
        "color": 6
      },
      "id": "7eaaf03d-261f-40d9-a378-28a3e640b1a5",
      "name": "Sticky Note38",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1880,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "create_threads_posts_tool",
        "description": "Use this tool to create Threads posts",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "fields": {
          "values": [
            {
              "name": "route",
              "stringValue": "=threads"
            },
            {
              "name": "user_prompt",
              "stringValue": "={{ $(&apos;When chat message received&apos;).item.json.chatInput }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "ca0f42ff-2fbb-46bb-80b6-0760c3d63b4c",
      "name": "Short",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -2060,
        860
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "create_youtube_short_tool",
        "description": "Use this tool to create a YouTube short",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "fields": {
          "values": [
            {
              "name": "route",
              "stringValue": "=youtube_short"
            },
            {
              "name": "user_prompt",
              "stringValue": "={{ $(&apos;When chat message received&apos;).item.json.chatInput }}"
            },
            {
              "name": "llm",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Value&apos;, ``, &apos;string&apos;) }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "70812134-1727-41e0-a350-6072e93a227d",
      "name": "YouTube Short",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -1800,
        860
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Social Media Agent Tools",
        "height": 620,
        "width": 1100,
        "color": 7
      },
      "id": "6f549cf8-338b-484b-b6a3-8ca5f345e593",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2440,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "💡Notes\n\nUpdate all Social Media Platform Credentials as required.\n\nAdjust parameters and content for each platform to suit your needs.",
        "height": 180,
        "width": 340
      },
      "id": "e84e9528-5148-4982-80f6-c2f12276ec4e",
      "name": "Sticky Note41",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        -140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 👍 Approve Content Before Proceeding",
        "height": 360,
        "width": 400,
        "color": 4
      },
      "id": "cf2b775a-030c-49ed-8fe1-738cb709ae1e",
      "name": "Sticky Note42",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -860,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/[your-unique-id]/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.output.social_image.medium.url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.output.caption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "57643321-08c0-41ab-a725-214f597963c9",
      "name": "Instagram Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        200
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "text": "={{ $json.data.social_content.schema.post }}",
        "additionalFields": {}
      },
      "id": "06c23cc0-a87f-4b96-b58c-578a27961b3d",
      "name": "X Post",
      "type": "n8n-nodes-base.twitter",
      "position": [
        540,
        -40
      ],
      "typeVersion": 2,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "[your-unique-id]",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "caption",
                "value": "={{ $(&apos;Social Media Publishing Router&apos;).item.json.output.caption }}"
              }
            ]
          }
        }
      },
      "id": "5752d993-7273-46f1-9ee9-20ae57746f86",
      "name": "Instragram Post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        540,
        140
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "[your-unique-id]",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.output.post }}\n\n{{ $json.output.call_to_action }}\n"
              }
            ]
          }
        }
      },
      "id": "810ab52a-ff93-45a0-8783-0f17ebce04d8",
      "name": "Facebook Post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        540,
        320
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "postAs": "organization",
        "organization": "YOUR_LINKEDIN_ORGANIZATION_ID",
        "text": "={{ $json.data.social_content.schema.post }}\n{{ $json.data.social_content.schema.call_to_action }}\n{{ $json.data.social_content.common_schema.hashtags }}\n",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "=data",
        "additionalFields": {}
      },
      "id": "c63e9d7d-d371-4a68-ad5e-454a9b24a277",
      "name": "LinkedIn Post",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        540,
        500
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ $env.TELEGRAM_CHAT_ID }}",
        "subject": "=🔥FOR APPROVAL🔥 {{$(&apos;Extract as JSON&apos;).item.json.data.social_content.root_schema.name  }}",
        "message": "={{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 45,
              "resumeUnit": "minutes"
            }
          }
        }
      },
      "id": "7fb6938f-f8b0-4be9-b568-2e198d757684",
      "name": "Gmail User for Approval",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -720,
        540
      ],
      "webhookId": "FAKE-WEBHOOK-ID-GMAIL-APPROVAL-REPLACE-ME",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "url": "={{ $(&apos;Extract as JSON&apos;).item.json.data.social_image.medium.url }}",
        "options": {}
      },
      "id": "c06f7a17-9753-4aef-a91f-db0d45eba46b",
      "name": "Get Social Post Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -460,
        800
      ],
      "retryOnFail": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "text"
        }
      },
      "id": "548b03be-dbd2-4126-aac7-762db9efae2c",
      "name": "gpt-40-mini1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1240,
        720
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "# 📄 Publish to Social Media ",
        "height": 1240,
        "width": 700,
        "color": 6
      },
      "id": "3510072e-042f-4d14-aed1-bb7792e227a0",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        280,
        -140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data.route }}",
                    "rightValue": "xtwitter"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "1️⃣X-Twitter"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "86d44336-bab7-422f-9266-fcb513252d19",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data.route }}",
                    "rightValue": "instagram"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": " 2️⃣Instagram"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "29f37628-6381-46af-babb-74bf00b4a849",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data.route }}",
                    "rightValue": "facebook"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": " 3️⃣Facebook"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "fdb7c8aa-4108-43f6-8f6b-71cd8f383d2a",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data.route }}",
                    "rightValue": "=linkedin"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "4️⃣Linkedin"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "956baedd-4a0b-4e41-b85c-ef2c84332bdc",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data.route }}",
                    "rightValue": "threads"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "5️⃣Threads"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "4d690442-197c-4ff9-b176-b55dfabaecc9",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data.route }}",
                    "rightValue": "youtube_short"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "6️⃣YouTube Short"
            }
          ]
        },
        "options": {}
      },
      "id": "5bf85532-505b-4acd-8b18-2837831a5a1e",
      "name": "Social Media Publishing Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        -20,
        240
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use the HTML template and populate [fields] as required from this: {{ $json.data.social_content.toJsonString() }}\n-----\nOnly output HTML without code block tags, preamble or further explanation in the format provided.\n\n## HTML Template\n<table style=\"max-width:640px;min-width:320px;width:100%;border-collapse:collapse;font-family:Arial,sans-serif;margin:20px auto\">\n    <tbody>\n        <tr>\n            <td colspan=\"2\" style=\"background-color:#ffffff;padding:15px;text-align:left\">\n                <img src=\"{{ $json.data.google_drive_image.thumbnailLink }}\" alt=\"{{ $json.data.social_content.root_schema.name }}\" style=\"max-width:100%;height:auto;\">\n            </td>\n        </tr>\n        <tr>\n            <td colspan=\"2\" style=\"background-color:#efefef;padding:15px;font-size:20px;text-align:left;font-weight:bold\">\n                {{ $json.data.social_content.root_schema.name }}\n            </td>\n        </tr>\n        <tr>\n            <td style=\"background-color:#f9f9f9;padding:15px;width:30%;text-align:left\"><strong>[label_1]:</strong></td>\n            <td style=\"background-color:#f9f9f9;padding:15px;text-align:left\">[content_1]</td>\n        </tr>\n        <tr>\n            <td style=\"background-color:#f1f1f1;padding:15px;text-align:left\"><strong>[label_2]:</strong></td>\n            <td style=\"background-color:#f1f1f1;padding:15px;text-align:left\">[content_2]</td>\n        </tr>\n\n        [continue the pattern ...]\n\n        <tr>\n            <td colspan=\"2\" style=\"background-color:#efefef;padding:15px;text-align:left\">\n                <strong>[footer_label]:</strong> [footer_content]\n            </td>\n        </tr>\n    </tbody>\n</table>\n\n",
        "options": {}
      },
      "id": "01fd2a5e-77d2-4ee9-8978-27ccd3fa717f",
      "name": "Prepare Email Contents",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1220,
        540
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "313cec9b-aad5-4f9c-a209-afe83af53df0",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "76165383-4717-4c79-8685-fdbb1d5c41c7",
      "name": "Is Approved?",
      "type": "n8n-nodes-base.if",
      "position": [
        -720,
        800
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "efb1c03b-8465-443d-a442-b76b8cd86a73",
              "name": "output",
              "type": "object",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ba027d8f-7a30-4c32-8d45-feec89c41edc",
      "name": "File Id",
      "type": "n8n-nodes-base.set",
      "position": [
        -900,
        60
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.output.response }}"
        },
        "options": {}
      },
      "id": "9599c0f2-e9cd-4a21-aaab-0fd0593db386",
      "name": "Get Social Post from Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -720,
        60
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "35c8426b-c45b-4204-8ecc-72cebd1ccc90",
      "name": "Extract as JSON",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -540,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "989d5696-a6aa-4ec5-868a-afdc1071a354",
      "name": "Merge Image and Post Contents",
      "type": "n8n-nodes-base.merge",
      "position": [
        -280,
        300
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "",
        "height": 380,
        "width": 320
      },
      "id": "cb2a3c2c-c0b7-450d-8305-b7208fadf588",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        440,
        680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "28433fae-6707-4040-b537-0595fd221229",
      "name": "Implement Threads Here",
      "type": "n8n-nodes-base.noOp",
      "position": [
        540,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a4f760e8-7e43-4e3f-8fdf-568425b58c8e",
      "name": "Implement YouTube Shorts Here",
      "type": "n8n-nodes-base.noOp",
      "position": [
        540,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4015bb20-da3b-4781-ab8c-46f4d826138e",
              "name": "output",
              "type": "string",
              "value": "={{ $(&apos;Social Media Publishing Router&apos;).item.json.data.route }}\n\n{{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_content.root_schema.name }}\n\n{{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_content.schema.post }}\n\n![{{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_content.root_schema.name }}]({{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_image.thumb.url }})"
            }
          ]
        },
        "options": {}
      },
      "id": "57005e17-aa67-4d82-bf57-8592bdc76549",
      "name": "X Response",
      "type": "n8n-nodes-base.set",
      "position": [
        740,
        -40
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da8fe7e3-e74d-46b6-91eb-1bf4432b73b0",
              "name": "output",
              "type": "string",
              "value": "={{ $(&apos;Social Media Publishing Router&apos;).item.json.data.route }}  \n{{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_content.root_schema.name }}\n{{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_content.schema.caption }}\n![{{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_content.root_schema.name }}]({{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_image.thumb.url }})"
            }
          ]
        },
        "options": {}
      },
      "id": "8b787d68-2995-4073-bcff-2cbf15f54c73",
      "name": "Instagram Response",
      "type": "n8n-nodes-base.set",
      "position": [
        740,
        140
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e349e314-2967-456f-856a-85727bdf94f3",
              "name": "output",
              "type": "string",
              "value": "={{ $(&apos;Social Media Publishing Router&apos;).item.json.data.route }}\n\n{{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_content.root_schema.name }}\n\n{{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_content.schema.post }}\n\n![{{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_content.root_schema.name }}]({{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_image.thumb.url }})"
            }
          ]
        },
        "options": {}
      },
      "id": "f3f412b0-a80d-47b9-b19d-aa8b81f14083",
      "name": "Facebook Response",
      "type": "n8n-nodes-base.set",
      "position": [
        740,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88404fde-a41b-4da5-bbdb-0e41b879a52c",
              "name": "output",
              "type": "string",
              "value": "={{ $(&apos;Social Media Publishing Router&apos;).item.json.data.route }}\n\n{{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_content.root_schema.name }}\n\n{{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_content.schema.post }}\n\n![{{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_content.root_schema.name }}]({{ $(&apos;Social Media Publishing Router&apos;).item.json.data.social_image.thumb.url }})\n"
            }
          ]
        },
        "options": {}
      },
      "id": "089d7217-d762-458c-8b43-bb2534bc8281",
      "name": "LinkedIn Response",
      "type": "n8n-nodes-base.set",
      "position": [
        740,
        500
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "# Social Media Router Agent",
        "height": 320,
        "width": 620
      },
      "id": "7728be3e-74e1-4172-99a2-63751eec2d2a",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2220,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful assistant that uses the provided tools.  Respond with a valid JSON object.\n\nUser prompt:  {{ $json.chatInput }}",
        "options": {
          "systemMessage": "## RULES\n- You do not answer the users questions directly and your sole purpose is to call the appropriate tool to and provide the verbatim response.\n\n## TOOLS\n- create_x_twitter_posts_tool: Use this tool to create X-Twitter posts\n- create_instagram_posts_tool: Use this tool to create Instagram posts\n- create_facebook_posts_tool: Use this tool to create Facebook posts\n- create_linkedin_posts_tool: Use this tool to create LinkedIn posts\n- create_threads_posts_tool: Use this tool to create Threads posts\n- create_youtube_short_tool: Use this tool to create a YouTube short\n\n\n"
        }
      },
      "id": "3af44438-a023-4bfe-a411-1e7226c29300",
      "name": "🤖Social Media Router Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2040,
        60
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "content": "## Prepare Email Approval Contents as HTML",
        "height": 440,
        "width": 400
      },
      "id": "1a3e7a40-ef79-4ffa-ba74-1f2bae578735",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1300,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "id": "933bab56-79bf-41c0-a33b-0f5371185f49",
      "name": "gpt-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2620,
        520
      ],
      "typeVersion": 1.2
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X-Twiter": {
      "ai_tool": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "ai_tool": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Facebook": {
      "ai_tool": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn": {
      "ai_tool": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Short": {
      "ai_tool": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Short": {
      "ai_tool": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Image": {
      "main": [
        [
          {
            "node": "Instragram Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X Post": {
      "main": [
        [
          {
            "node": "X Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instragram Post": {
      "main": [
        [
          {
            "node": "Instagram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Post": {
      "main": [
        [
          {
            "node": "Facebook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post": {
      "main": [
        [
          {
            "node": "LinkedIn Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail User for Approval": {
      "main": [
        [
          {
            "node": "Is Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Social Post Image": {
      "main": [
        [
          {
            "node": "Merge Image and Post Contents",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "gpt-40-mini1": {
      "ai_languageModel": [
        [
          {
            "node": "Prepare Email Contents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Publishing Router": {
      "main": [
        [
          {
            "node": "X Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Implement Threads Here",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Implement YouTube Shorts Here",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Contents": {
      "main": [
        [
          {
            "node": "Gmail User for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved?": {
      "main": [
        [
          {
            "node": "Get Social Post Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Id": {
      "main": [
        [
          {
            "node": "Get Social Post from Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Social Post from Google Drive": {
      "main": [
        [
          {
            "node": "Extract as JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract as JSON": {
      "main": [
        [
          {
            "node": "Merge Image and Post Contents",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Email Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Image and Post Contents": {
      "main": [
        [
          {
            "node": "Social Media Publishing Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖Social Media Router Agent": {
      "main": [
        [
          {
            "node": "File Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o": {
      "ai_languageModel": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00a774e7-750f-482d-b338-8145b5886d43",
  "meta": {
    "instanceId": "720e702ead9ddf10522de7959eeb95d0fdafeec082434a16f154134f92c6a061"
  },
  "id": "BWe57PMaDWqMjccb",
  "tags": []
}
